.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.preview-grid {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .preview-grid {
    justify-content: center;
  }
}

.preview-grid .preview-grid-item {
  padding: 0;
  margin: 0 15px 30px 15px;
}
